In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random as rnd
from scipy.stats import zscore

In [13]:
data = pd.read_csv("data.csv")
data=data.fillna(0)

In [14]:
data.head(20)

,Entity,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Date,Daily tests,Cases,Deaths
0,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-25,8.0,0.0,0.0
1,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-26,5.0,0.0,0.0
2,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-27,4.0,0.0,0.0
3,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-28,1.0,0.0,0.0
4,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-29,8.0,0.0,0.0
5,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-01,3.0,0.0,0.0
6,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-02,2.0,0.0,0.0
7,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-03,5.0,0.0,0.0
8,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-04,6.0,0.0,0.0
9,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-05,8.0,0.0,0.0
10,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-06,3.0,0.0,0.0
11,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-07,5.0,0.0,0.0
12,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-08,1.0,0.0,0.0
13,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-09,18.0,2.0,0.0
14,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-10,37.0,10.0,0.0
15,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-11,43.0,12.0,1.0
16,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-12,141.0,23.0,1.0
17,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-13,159.0,33.0,1.0
18,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-14,48.0,38.0,1.0
19,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-15,27.0,42.0,1.0

In [17]:
# Get dynamic data into a df
relevant_data = data[["Entity","Date","Daily tests","Cases", "Deaths"]]
relevant_data.fillna(0)

         Entity        Date  Daily tests    Cases  Deaths
0       Albania  2020-02-25          8.0      0.0     0.0
1       Albania  2020-02-26          5.0      0.0     0.0
2       Albania  2020-02-27          4.0      0.0     0.0
3       Albania  2020-02-28          1.0      0.0     0.0
4       Albania  2020-02-29          8.0      0.0     0.0
...         ...         ...          ...      ...     ...
38467  Zimbabwe  2021-02-24       1804.0  35960.0  1456.0
38468  Zimbabwe  2021-02-25       2965.0  35994.0  1458.0
38469  Zimbabwe  2021-02-26          0.0  36044.0  1463.0
38470  Zimbabwe  2021-02-27          0.0  36058.0  1463.0
38471  Zimbabwe  2021-02-28          0.0  36089.0  1463.0

[38472 rows x 5 columns]

In [15]:
# set entity as index in data
data.set_index("Entity")

,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Date,Daily tests,Cases,Deaths
Entity,,,,,,,,,,,,,,
Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-25,8.0,0.0,0.0
Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-26,5.0,0.0,0.0
Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-27,4.0,0.0,0.0
Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-28,1.0,0.0,0.0
Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-29,8.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-24,1804.0,35960.0,1456.0
Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-25,2965.0,35994.0,1458.0
Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-26,0.0,36044.0,1463.0
Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-27,0.0,36058.0,1463.0
Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-28,0.0,36089.0,1463.0

In [16]:
# set entity as index
relevant_data.set_index("Entity")

NameError: name 'relevant_data' is not defined

In [ ]:
df.drop_duplicates()

In [ ]:
# seaborn scaterplot
sns.histplot(data = relevant_data, x="Deaths", binwidth=3)